<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<h3 class="title is-4">Resources</h3>
		<hr>
		<div class="box">
			<p>{{user.name}}</p>
			<hr>
		
			<table class="table is-striped is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th>Nombre</th>
						<th><abbr>Link</abbr></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each resources }}
					<tr>
						<td>{{this.name}}</td>
						<td class="link"><a class="clic" href="{{this.url}}" target="_blank">{{this.url}}</a></td>
						<td><a href="/profile/resource?resourceid={{_id}}">ver recurso</a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			<a class="button is-text" href="/profile/addresources">Add</a>

		</div>
	</div>
</div>